n8n-workflows/wf02-channel-instagram.json
{
  "name": "TAWD — WF-02 Channel Receiver Instagram",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sura-instagram",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wf02-n01",
      "name": "Instagram Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "sura-instagram-webhook"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const body = $json.body || $json;\nconst entry = body.entry ? body.entry[0] : {};\nconst messaging = entry.messaging ? entry.messaging[0] : {};\nconst senderId = messaging.sender ? messaging.sender.id : null;\nconst message = messaging.message || {};\nconst text = message.text || '';\nif (!senderId || !text) {\n  return [{ json: { skip: true, reason: 'no sender or text' } }];\n}\nreturn [{ json: {\n  channel:       'instagram',\n  external_id:   senderId,\n  message_text:  text,\n  message_id:    message.mid || null,\n  raw_body:      body\n} }];"
      },
      "id": "wf02-n02",
      "name": "Parse Instagram Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [{ "id": "skip-check", "leftValue": "={{ $json.skip }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" } }],
          "combinator": "and"
        }
      },
      "id": "wf02-n03",
      "name": "Should Skip?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": { "respondWith": "json", "responseBody": "={{ JSON.stringify({ ok: true }) }}" },
      "id": "wf02-n04",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 460]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "channel_configs",
        "returnAll": false,
        "limit": 1,
        "filters": {
          "conditions": [
            { "keyName": "channel", "condition": "eq", "keyValue": "instagram" },
            { "keyName": "is_active", "condition": "eq", "keyValue": "={{ true }}" }
          ]
        }
      },
      "id": "wf02-n05",
      "name": "Get Clinic Config",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [900, 140],
      "alwaysOutputData": true,
      "credentials": { "supabaseApi": { "id": "vvSpPqfrBDkrqjjc", "name": "TAWD Supabase" } }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const msg = $('Parse Instagram Message').first().json;\nconst configs = $('Get Clinic Config').all();\nconst config = (configs.length > 0 && configs[0].json.id) ? configs[0].json : null;\nif (!config) return [{ json: { ...msg, error: 'no instagram channel config found' } }];\nreturn [{ json: {\n  clinic_id:     config.clinic_id,\n  channel:       'instagram',\n  phone:         msg.external_id,\n  message_text:  msg.message_text,\n  message_id:    msg.message_id,\n  language:      'ar',\n  source_channel: 'instagram'\n} }];"
      },
      "id": "wf02-n06",
      "name": "Normalize Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 140]
    },
    {
      "parameters": {
        "workflowId": { "__rl": true, "value": "arZRfHPPTytcMSR5", "mode": "id" },
        "options": {}
      },
      "id": "wf02-n07",
      "name": "Call Sura Core Engine",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [1340, 140]
    },
    {
      "parameters": { "respondWith": "json", "responseBody": "={{ JSON.stringify({ ok: true }) }}" },
      "id": "wf02-n08",
      "name": "Respond After Process",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1560, 140]
    }
  ],
  "connections": {
    "Instagram Webhook":    { "main": [[{ "node": "Parse Instagram Message", "type": "main", "index": 0 }]] },
    "Parse Instagram Message": { "main": [[{ "node": "Should Skip?", "type": "main", "index": 0 }]] },
    "Should Skip?": { "main": [[{ "node": "Get Clinic Config", "type": "main", "index": 0 }], [{ "node": "Respond OK", "type": "main", "index": 0 }]] },
    "Get Clinic Config":   { "main": [[{ "node": "Normalize Message", "type": "main", "index": 0 }]] },
    "Normalize Message":   { "main": [[{ "node": "Call Sura Core Engine", "type": "main", "index": 0 }]] },
    "Call Sura Core Engine": { "main": [[{ "node": "Respond After Process", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1", "timezone": "Asia/Muscat" }
}
