n8n-workflows/wf08-queue-manager.json
{
  "name": "TAWD — WF-08 Queue Manager",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            { "field": "minutes", "minutesInterval": 15 }
          ]
        }
      },
      "id": "wf08-n01",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const now = new Date();\nconst tz = 'Asia/Muscat';\nconst todayStart = new Date(now.toLocaleDateString('en-CA', { timeZone: tz }) + 'T00:00:00+04:00');\nconst todayEnd   = new Date(now.toLocaleDateString('en-CA', { timeZone: tz }) + 'T23:59:59+04:00');\nreturn [{ json: {\n  today_start: todayStart.toISOString(),\n  today_end:   todayEnd.toISOString(),\n  now:         now.toISOString()\n} }];"
      },
      "id": "wf08-n02",
      "name": "Calc Today Range",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "appointments",
        "returnAll": true,
        "filters": {
          "conditions": [
            { "keyName": "status",    "condition": "eq",  "keyValue": "confirmed" },
            { "keyName": "slot_time", "condition": "gte", "keyValue": "={{ $json.today_start }}" },
            { "keyName": "slot_time", "condition": "lte", "keyValue": "={{ $json.today_end }}" }
          ]
        }
      },
      "id": "wf08-n03",
      "name": "Get Todays Appointments",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [680, 300],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": { "id": "vvSpPqfrBDkrqjjc", "name": "TAWD Supabase" }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const appts = $('Get Todays Appointments').all();\nif (appts.length === 0 || !appts[0].json.id) {\n  return [{ json: { no_appointments: true } }];\n}\n// Group by clinic_id\nconst byClinic = {};\nfor (const a of appts) {\n  const cid = a.json.clinic_id;\n  if (!byClinic[cid]) byClinic[cid] = [];\n  byClinic[cid].push(a.json);\n}\n// Sort each clinic by slot_time and assign position\nconst result = [];\nfor (const cid of Object.keys(byClinic)) {\n  const sorted = byClinic[cid].sort((x, y) => new Date(x.slot_time) - new Date(y.slot_time));\n  sorted.forEach((appt, idx) => {\n    result.push({ json: { appt_id: appt.id, clinic_id: cid, queue_position: idx + 1 } });\n  });\n}\nreturn result;"
      },
      "id": "wf08-n04",
      "name": "Sort and Assign Positions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "check-no-appts",
              "leftValue": "={{ $json.no_appointments }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "wf08-n05",
      "name": "Has Appointments?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "return [{ json: { skipped: true, reason: 'no appointments today' } }];"
      },
      "id": "wf08-n06",
      "name": "Skip — No Appointments",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 460]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "waiting_queue",
        "dataToSend": "defineBelow",
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "queue_position", "fieldValue": "={{ $json.queue_position }}" }
          ]
        },
        "filters": {
          "conditions": [
            { "keyName": "appt_id", "condition": "eq", "keyValue": "={{ $json.appt_id }}" }
          ]
        }
      },
      "id": "wf08-n07",
      "name": "Update Queue Position",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1340, 140],
      "credentials": {
        "supabaseApi": { "id": "vvSpPqfrBDkrqjjc", "name": "TAWD Supabase" }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[{ "node": "Calc Today Range", "type": "main", "index": 0 }]]
    },
    "Calc Today Range": {
      "main": [[{ "node": "Get Todays Appointments", "type": "main", "index": 0 }]]
    },
    "Get Todays Appointments": {
      "main": [[{ "node": "Sort and Assign Positions", "type": "main", "index": 0 }]]
    },
    "Sort and Assign Positions": {
      "main": [[{ "node": "Has Appointments?", "type": "main", "index": 0 }]]
    },
    "Has Appointments?": {
      "main": [
        [{ "node": "Update Queue Position",  "type": "main", "index": 0 }],
        [{ "node": "Skip — No Appointments", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Muscat"
  }
}
