n8n-workflows/wf13-service-catalog-sync.json
{
  "name": "TAWD — WF-13 Service Catalog Sync",
  "nodes": [
    { "parameters": { "inputSource": "passthrough" }, "id": "wf13-n01", "name": "Trigger", "type": "n8n-nodes-base.executeWorkflowTrigger", "typeVersion": 1, "position": [240, 300] },
    { "parameters": { "mode": "runOnceForAllItems", "jsCode": "const t = $('Trigger').first().json;\nconst required = ['clinic_id','name','price','duration_minutes'];\nconst missing = required.filter(k => !t[k]);\nif (missing.length > 0) {\n  return [{ json: { ...t, validation_error: 'Missing: ' + missing.join(', '), valid: false } }];\n}\nreturn [{ json: { ...t, valid: true } }];" }, "id": "wf13-n02", "name": "Validate Service", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [460, 300] },
    { "parameters": { "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" }, "conditions": [{ "id": "c1", "leftValue": "={{ $json.valid }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" } }], "combinator": "and" } }, "id": "wf13-n03", "name": "Is Valid?", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [680, 300] },
    { "parameters": { "mode": "runOnceForAllItems", "jsCode": "return [{ json: { ...$json, synced: false } }];" }, "id": "wf13-n04", "name": "Invalid Output", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [900, 460] },
    { "parameters": { "operation": "create", "tableId": "services", "dataToSend": "defineBelow", "fieldsUi": { "fieldValues": [ { "fieldId": "clinic_id", "fieldValue": "={{ $json.clinic_id }}" }, { "fieldId": "name", "fieldValue": "={{ $json.name }}" }, { "fieldId": "price", "fieldValue": "={{ $json.price }}" }, { "fieldId": "duration_minutes", "fieldValue": "={{ $json.duration_minutes }}" }, { "fieldId": "vat_applicable", "fieldValue": "={{ $json.vat_applicable || false }}" } ] } }, "id": "wf13-n05", "name": "Upsert Service", "type": "n8n-nodes-base.supabase", "typeVersion": 1, "position": [900, 140], "credentials": { "supabaseApi": { "id": "vvSpPqfrBDkrqjjc", "name": "TAWD Supabase" } } },
    { "parameters": { "mode": "runOnceForAllItems", "jsCode": "const t = $('Trigger').first().json;\nconst svc = $('Upsert Service').first().json;\nreturn [{ json: { ...t, service_id: svc.id, synced: true } }];" }, "id": "wf13-n06", "name": "Output", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1120, 140] }
  ],
  "connections": {
    "Trigger": { "main": [[{ "node": "Validate Service", "type": "main", "index": 0 }]] },
    "Validate Service": { "main": [[{ "node": "Is Valid?", "type": "main", "index": 0 }]] },
    "Is Valid?": { "main": [[{ "node": "Upsert Service", "type": "main", "index": 0 }], [{ "node": "Invalid Output", "type": "main", "index": 0 }]] },
    "Upsert Service": { "main": [[{ "node": "Output", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1", "timezone": "Asia/Muscat" }
}
